version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: marry-me-rabbitmq
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  app:
    build: .
    container_name: marry-me-app
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_URL: amqp://admin:password@rabbitmq:5672
    ports:
      - "8080:8080" 

